body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #243763;
}

button {
    background-color: #FF6E31;
    color: white;
    margin-top: 4px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#delete-btn {
    background-color: white;
    color: #FF6E31;
    border: #FF6E31 solid;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color: #243763;
}